

<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__item">
                <div class="footer__logo" @onclick="ReloadPage">
                    <img src="https://devel.prom.uz/upload/organization_logos/ee/6e/ee6e2d1fa54c427cb384776ce3891061.png" alt="">
                    <h1>URANUS</h1>
                </div>
                <div class="social__logo">
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                    <i class="fa-brands fa-telegram fa-2xl"></i>
                </div>
            </div>
            <div class="footer__item">
                <h6>ИНФОРМАЦИЯ</h6>
                <a>Все курсы</a>
                <a>Результаты учеников</a>
                <a>О компании</a>
            </div>
            <div class="footer__item">
                <h6>КОНТАКТЫ</h6>
                <p>+998 98 369 90 69</p>
                <p>info@uranusinvest.com</p>
                <p>Location</p>
            </div>
        </div>
        <p class="footer__p">
            ©
            2021 Uranus Invest
        </p>
    </div>
</footer>
<style>

    .footer {
        background: #111;
        color: #949393;
    }

    .footer__container {
        display: flex;
        gap: 250px;
        padding-top: 70px;
        padding-bottom: 54px;
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .footer__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .footer__item img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }

    .footer h6 {
        color: #fff;
    }

    .footer h1 {
        color: #fff;
    }

    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .footer__p {
        text-align: center;
        color: #545454;
        font-size: 12px;
        padding-bottom: 24px;
    }

    .social__logo {
        display: flex;
        gap: 20px;
        padding-top: 30px;
    }

    .footer__item a {
        cursor: pointer;
    }

    .social__logo {
        cursor: pointer;
    }

    .header__a--active {
        color: #113BA1;
    }
</style> 

    
    
